<div class="flex items-center justify-center w-full">
  <div class="card-grid">
    <article
      *ngFor="let card of cards"
      class="card hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-1 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]"
    >
      <div class="content bg-white">
        <figure class="w-full h-60 pb-4">
          <img
            class="w-full h-full object-cover image-inside rounded-xl"
            src="../../../../assets/images/{{ card.image }} "
          />
        </figure>
        <time
          [attr.datetime]="card.fecha"
          class="block text-xs text-gray-900 font-bold"
        >
          {{ card.fecha }}
        </time>
        <a [href]="card.link || '#'">
          <h3 class="mt-0.5 text-lg text-gray-900 font-bold">
            {{ card.titulo }}
          </h3>
        </a>
        <p class="text-gray-700 min-h-[72px]">{{ card.descripcion }}</p>
        <div class="mt-4 flex flex-wrap gap-1">
          <span
            *ngFor="let tag of card.tags"
            class="tag whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600"
          >
            {{ tag }}
          </span>
        </div>
      </div>
    </article>
  </div>
</div>
