<div class="flex items-center justify-center w-full">
  <div class="card-grid">
    <article
      *ngFor="let card of cards"
      class="card hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]"
    >
      <div class="content rounded-[10px] bg-white p-4 !pt-20 sm:p-6">
        <time
          [attr.datetime]="card.fecha"
          class="block text-xs text-gray-900 font-bold"
        >
          {{ card.fecha }}
        </time>
        <a [href]="card.link || '#'">
          <h3 class="mt-0.5 text-lg text-gray-900 font-bold">
            {{ card.titulo }}
          </h3>
        </a>
        <p class="text-gray-700">{{ card.descripcion }}</p>
        <div class="mt-4 flex flex-wrap gap-1">
          <span
            *ngFor="let tag of card.tags"
            class="tag whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600"
          >
            {{ tag }}
          </span>
        </div>
      </div>
    </article>
  </div>
</div>
