:root {
  --tituloHeight: 50px;
  --miRadio: 7px;
  --colorFondo: rgba(44, 90, 44, 0.5);
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  /* background: url(../imagenes/fondo.jpeg) center/cover no-repeat; */
  background-color: rgb(252, 248, 244);
  /* position: relative; */
}

nav {
  /* top:0; */
  background-color: var(--colorFondo);
  position: fixed;
  width: 100%;
  height: var(--tituloHeight);
  margin: 0;
  padding: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

/* #descripcion {
  background: url(../imagenes/desarrollo.jpg) center/cover;
  padding-bottom: 30px;
  display: flex;
  margin-bottom: 5%;
}

#descripcionTexto {
  z-index: 50;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  text-align: center;
  color: rgb(225, 225, 225);
  font-size: 35px;
  font-weight: bold;
}

.textoGrande {
  font-weight: bold;
  font-size: 45px;
  color: rgb(171, 196, 179);
} */

#descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #f7f7f7;
  min-height: 600px;
  margin-bottom: 40px;
}

.image-container {
  width: 100%;
}

#descripcion img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(20%);
  z-index: -1;
}

.descripcion-contenido {
  max-width: 800px;
}

.textoGrande {
  font-weight: bold;
  font-size: 1.2em;
}

.destacado {
  color: #7bff9c;
  font-weight: bold;
}

.descripcion-contenido p {
  font-size: 18px;
  margin-bottom: 20px;
}

.descripcion-contenido h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

/* filtros */
#btnBuscar {
  position: fixed;
  top: 8%;
  right: 1%;
  width: 60px;
  height: 60px;
  border-radius: 10%;
  background-color: rgba(195, 214, 214, 0.459);
  background-image: url(../imagenes/lupa.webp);
  background-position: center;
  background-size: contain;
  --tiempo: 0.5s;
  transition: width var(--tiempo) ease, background-color var(--tiempo) ease, border-radius var(--tiempo) ease, height var(--tiempo) ease; 
  animation: lupa 10s infinite;
  transform-style: preserve-3d;
  z-index: 10;
}

@keyframes lupa {
  0% {
      transform: rotateY(0deg);
  }

  100% {
      transform: rotateY(360deg);
  }
}

#btnBuscar:hover {
  background-color: rgba(85, 116, 116, 0.527);
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

#sectionTags {
  position: relative;
  top:0px;
  background-color: rgb(216, 207, 207);
  padding: 1%;
  border-radius: 3%;
  width: 90%;
  margin-bottom: 3%;
  animation: slideLeft 1s forwards;
}

@keyframes slideLeft {
  0% {
      left: 100%;
  }

  100% {
      left: 3%;
  }
}

.inVisible {
  display: none;

}

#sectionTags button {
  margin-left: 1%;
  margin-bottom: 1%;
  padding: 1%;
  border: none;
  border-radius: 10%;
}


#sectionTags input {


  font-size: 25px;
  text-align: center;
  border-radius: 5%;
  margin-bottom: 1%;

}

.btnActivotrue {
  background-color: rgb(168, 75, 75);
  /* color: red; */
}

.btnActivofalse {
  background-color: rgb(193, 188, 223);
  color: rgb(21, 11, 78);
}


#carrusel {
  max-width: 95%;
  margin: 2.5%;
}

.noHayCards {
  font-size: 40px;
  background-color: var(--color);
  text-wrap: wrap;
  padding: 2%;
  border-radius: 10px;
  width: 90%;
  margin-left: 2.5%;

}

/* Estilos responsivos */
@media (max-width: 1200px) {
  .descripcion-contenido {
    padding: 15px;
  }

  .descripcion-contenido h2 {
    font-size: 36px;
  }

  .descripcion-contenido p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .descripcion-contenido {
    padding: 0 40px;
  }

  .descripcion-contenido h2 {
    font-size: 28px;
  }

  .descripcion-contenido p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .descripcion-contenido {
    padding: 0 23px;
  }

  .descripcion-contenido h2 {
    font-size: 24px;
  }

  .descripcion-contenido p {
    font-size: 12px;
  }
}

/* ////////////////CADA CARRUSEL////////////////////////// */

/* ////////////////CADA ARTICULO////////////////////////// */
article {
  position: relative;
  min-width: 100%;
  background-color: var(--colorFondo);
  margin: 1%;
  border-radius: var(--miRadio);
  display: flex;
}

.video {
  border-top-left-radius: var(--miRadio);
  border-bottom-left-radius: var(--miRadio);
  width: 100%;
  height: 350px;
}
#articuloDats {
  width: 50%;
}
.titulo {
  background-color: rgba(62, 14, 58, 0.356);
  text-align: center;
  width: 100%;
}
.datos {
  padding-left: 3%;
  padding-right: 10px;
}

.categoria {
  text-align: right;
  font-style: italic;
}
.fecha {
  margin-bottom: 15px;
}
.repo {
  display: flex;
  padding-top: 7px;
}
.btnContenedor {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 1px;
}
.boton {
  color: green;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ////////////////CONTACTO////////////////////////// */

#mensajeDiv {
  height: 200px;
  background-color: rgb(226, 212, 212);
  border-radius: var(--miRadio);
  display: flex; /* Usar flexbox */
  flex-direction: column; /* Apilar elementos verticalmente */
  align-items: center; /* Centrar horizontalmente */
}

#mensajeTitulo {
  color: green;
  /* margin-left: 5%; */
  padding-top: 1%;
}
#mensaje {
  margin-top: 1%;
  background-color: inherit;
  height: 30%;
  width: 70%;
  font-size: 25px;
  border-radius: 4%;
}
#enviar {
  margin-top: 1%;
  height: 20%;
  /* color:red; */
  width: 10%;
  margin-left: 60%;
}

/* ////////////////FOOTER////////////////////////// */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--colorFondo);
}

footer h3 {
  color: white;
  text-align: center;
  margin: 8px;
}

/* ////////////////WASAP////////////////////////// */

#wasapIcon {
  position: fixed;
  width: 65px;
  z-index: 10;
  right: 1%;
  bottom: 2%;
  transition: right 0.1s ease-in-out;
}
#wasapIcon:hover {
  right: 1.3%;
}
